<%= error_messages_for 'invoice' %>

<div class="box tabular attributes">

<div class="splitcontentleft">
  <p><%= f.text_field :number, :label => l(:field_invoice_number), :required => true, :style => "width: 95%" %>
    <% if invoice.new_record? && @last_invoice_number %>
    <br>
  	<em class="info"><%= l(:label_invoice_last_number, :number => @last_invoice_number) %></em>
  	<% end %>
  </p>

  <p class="subject"><%= f.text_field :subject, :label => l(:field_invoice_subject), :style => "width: 95%" %></p>
  <p><%= f.select :project_id, project_tree_options_for_select(Invoice.allowed_target_projects, :selected => @project), {:required => true} %></p>
  <p class="object-select">
    <% if !invoice.new_record? && invoice.is_paid? %>
      <%= label_tag l(:field_invoice_status) %><%= invoice.status %>
    <% else %>
      <%= f.select :status_id, collection_invoice_statuses_for_select, :label => l(:field_invoice_status), :required => true %>
    <% end %>
  </p>
  <p class="object-select">
    <%= label_tag :invoice_contact_id,  l(:field_invoice_contact)%>
    <%= select_contact_tag('invoice[contact_id]', invoice.contact, :is_select => Contact.visible.by_project(ContactsSetting.cross_project_contacts? ? nil : @project).count < 50, :is_company => RedmineInvoices.settings['invoices_select_companies'], :include_blank => true, :add_contact => true) %>
  </p>
  <p class="object-select"><%= f.select :assigned_to_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true, :label => l(:field_assigned_to) %></p>
</div>

<div class="splitcontentright">
  <p><%= f.text_field :order_number, :label => l(:field_invoice_order_number) %> </p>
  <p><%= f.text_field :invoice_date, :size => 12, :required => true, :type => 'date', :value => invoice.invoice_date.try(:to_date) %><%= calendar_for('invoice_invoice_date') %> </p>
  <p><%= f.text_field :due_date, :label => l(:field_invoice_due_date), :size => 12, :type => 'date', :value => invoice.due_date.try(:to_date) %><%= calendar_for('invoice_due_date') %> </p>
  <p>
    <%= check_box_tag :show_discount, "1", false, :onclick=>"$(this).hide(); $(this).parent().find('.discount-fields').show(); $(this).next().find('input').focus(); return false;" if f.object.discount.to_i == 0 %>
    <label for="invoice_discount"><%= l(:field_invoice_discount) %></label>
    <span class="discount-fields" style="white-space: nowrap; <%= f.object.discount.to_i == 0 ? "display:none;" : "" %>">
      <%= f.text_field :discount, :no_label => true, :size => 5, :style => f.object.discount.to_f == 0 ? "display:none;" : "", :class => "discount-fields" %>&nbsp;%
    </span>

  </p>
  <p><%= f.select :currency, collection_for_currencies_select(ContactsSetting.default_currency, ContactsSetting.major_currencies), :label => l(:field_invoice_currency), :include_blank => true  %></p>
  <p class="object-select"><%= f.select :language, invoice_lang_options_for_select, {:label => l(:field_invoice_language)}  %></p>

</div>

<div style="clear:both;"> </div>
<%= call_hook(:edit_invoices_form_details_bottom, { :invoice => invoice, :form => f }) %>

<p><%= f.text_area :description, :cols => 60, :rows => 10, :class => 'wiki-edit' %><%= wikitoolbar_for 'invoice_description' %></p>

<fieldset class="attributes">
  <legend><%= l(:label_invoice_lines) %></legend>
  <table class="invoice-lines form">
    <tr>
      <!-- <th class="sort"></th> -->
      <th colspan="2"><%= l(:field_invoice_line_description) %></th>
      <th><%= l(:field_invoice_line_quantity) %></th>
      <% if InvoicesSettings.show_units? %>
      <th><%= l(:field_invoice_line_units) %></th>
      <% end %>
      <th><%= l(:field_invoice_line_price) %></th>
      <% if !InvoicesSettings.disable_taxes?(@project) || invoice.has_taxes?  %>
      <th><%= l(:field_invoice_line_tax) %></th>
      <% end %>
      <th><%= l(:label_invoice_total) %></th>
    </tr>

    <tbody id="sortable">
      <tr style="display:none;"></tr>
      <% f.object.lines.each.with_index do |line, idx| %>
        <%= f.fields_for :lines, line do |builder| %>
            <%= render :partial => 'line_fields', :locals => {:f => builder, :idx => idx, :invoice => invoice} %>
        <% end %>
      <% end %>
    </tbody>
    <tr class="line-total">
      <td style="text-align: left;" class="add-link" colspan="<%= 4 + (InvoicesSettings.show_units? ? 1 : 0) + (!InvoicesSettings.disable_taxes?(@project) || invoice.has_taxes?  ? 1 : 0)  %>">
      <%= link_to_add_invoice_fields l(:label_invoice_add_line), f, :lines %>
      <%= call_hook(:edit_invoices_form_lines_actions, { :invoice => invoice, :form => f }) %>
      </td>
      <td class="total-data total" id="total_amount"><%= "%.2f" % invoice.amount.to_f %></td>
      <td class="total-data"></td>
      <%= javascript_tag 'updateInvoiceTotal();' %>
    </tr>
  </table>

</fieldset>

</div>

<script type="text/javascript">
  // $(document).click(invoiceMenuHide);

  $('td.price').mouseenter( invoiceMenuShow ).mouseleave( invoiceMenuHide );

</script>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag('context_menu') %>
<% end %>


