<div class="contextual">
  <% if !@query.new_record? && @query.editable_by?(User.current) %>
  <%= link_to l(:button_contacts_edit_query), edit_crm_query_path(@query, :object_type => "invoice"), :class => 'icon icon-edit' %>
  <%= link_to l(:button_contacts_delete_query), crm_query_path(@query, :object_type => "invoice"), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
  <% end %>
  <% if User.current.allowed_to?({:controller => :invoices, :action => :new}, @project, :global => @project.blank?) %>
    <%= link_to l(:label_invoice_new), {:controller => :invoices, :action => :new, :project_id => @project || Invoice.allowed_target_projects.first}, :class => 'icon icon-add' %>
  <% end %>
</div>

<% html_title(@query.new_record? ? l(:label_invoice_plural) : @query.name) %>

<h2><%= @query.new_record? ? l(:label_invoice_plural) : h(@query.name)  %></h2>

<%= form_tag({ :controller => 'invoices', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'object_type', 'invoice' %>
<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <tr style="<%= 'display: none;' if invoices_list_style != 'list' %>">
          <td><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
        <tr>
        <% if invoices_list_style == 'list_excerpt' %>
            <td><label for='sort'><%= l(:label_sort) %></label></td>
            <td><%= select_tag('sort',
                               options_for_select(
                                 [[]] +
                                 [[l(:field_contact_status), "status:asc"],
                                  [l(:field_due_date), "due_date:desc"],
                                  [l(:field_created_on), "created_at:desc"],
                                  [l(:field_updated_on), "updated_at:desc"]],
                                 params[:sort] || @query.sort_criteria.try(:first).try(:join, ':'))
                       ) %></td>
        <% end %>
        </tr>
      </table>
    </div>
  </fieldset>
</div>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <div id="contact_list" class="invoice_list">
  <% if @invoices.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render :partial => invoices_list_style %>
    <span class="pagination"><%= pagination_links_full @invoices_pages, @invoices_count %></span>
  <% end %>
  </div>
<% end %>

<% if Redmine::VERSION.to_s >= '3.4' || RedmineContacts.unstable_branch? %>
  <%= context_menu %>
<% else %>
  <%= context_menu url_for( {:controller => "invoices", :action => "context_menu"} ) %>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => 'stat_invoiced' %>
  <%= render :partial => 'stat_status' %>
  <%= call_hook(:view_invoices_sidebar_bottom, :invoices => @invoices) %>
<% end %>

<% content_for :header_tags do %>
  <%= select2_assets %>
  <%= javascript_include_tag :contacts, :plugin => 'redmine_contacts'  %>
  <meta name = "format-detection" content = "telephone=no">
<% end %>

