<div class="contextual">
  <%= link_to l(:label_products_order_new), {:controller => 'orders', :action => 'new', :project_id => @project || Order.allowed_target_projects.first }, :class => 'icon icon-add' if User.current.allowed_to?({:controller => 'orders', :action => 'new'}, @project, {:global => true}) && Order.allowed_target_projects.any? %>

</div>

<% html_title(@query.new_record? ? l(:label_order_plural) : @query.name) %>

<%= form_tag({ :controller => 'orders', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form') do %>
  <%= hidden_field_tag 'set_filter', '1' %>
  <%= hidden_field_tag 'object_type', 'order' %>
    <script type="text/javascript">
       jQuery(function($) {
          // when the #search field changes
          $("#search").observe_field(2, function() {
            var form = $("#query_form"); // grab the form wrapping the search bar.
            var url = form.attr("action");
            form.find('[name="c[]"] option').each(function(i, elem){
              $(elem).attr('selected', true);
              $(elem).prop('selected', true);
            });
            var formData = form.serialize();

            form.find('[name="c[]"] option').each(function(i, elem){
              $(elem).attr('selected', false);
              $(elem).prop('selected', false);
            });
            $.get(url, formData, function(data) { // perform an AJAX get, the trailing function is what happens on successful get.
                $("#contact_list").html(data); // replace the "results" div with the result of action taken
            });
          });
        });
    </script>

    <h2 class="contacts_header">
        <span id='scope_header' class="scope_title">
        <%= @query.new_record? ? l(:label_order_plural) : h(@query.name)  %>
        </span>

        <span class="live_search">
            <%= text_field_tag(:search, params[:search], :autocomplete => "off", :class => "live_search_field", :placeholder => l(:label_crm_contact_search) ) %>

        </span>

    </h2>

<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <tr style="<%= 'display: none;' if orders_list_style != 'list' %>">
          <td><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
        <tr>
        <% if orders_list_style == 'list_excerpt' %>
            <td><label for='sort'><%= l(:label_sort) %></label></td>
            <td><%= select_tag('sort',
                               options_for_select(
                                 [[]] +
                                 [[l(:field_contact_status), "status:asc"],
                                  [l(:label_products_order_date), "order_date:desc"],
                                  [l(:field_created_on), "created_at:desc"],
                                  [l(:field_updated_on), "updated_at:desc"]],
                                 params[:sort])
                       ) %></td>
        <% end %>

        </tr>
      </table>
    </div>
  </fieldset>
</div>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
  <% if @query.new_record? && User.current.allowed_to?(:save_orders_queries, @project, :global => true) %>
      <%= link_to_function l(:button_save),
                           "$('#query_form').attr('action', '#{ @project ? new_project_crm_query_path(@project) : new_crm_query_path }'); submit_query_form('query_form')",
                           :class => 'icon icon-save' %>

  <% end %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <div id="contact_list" class="product_list">
  <% if @orders.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render :partial => orders_list_style %>
    <span class="pagination"><%= pagination_links_full @orders_pages, @orders_count %></span>
  <% end %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'stat_ordered' %>
  <%= render :partial => 'recent_orders' unless @recent_orders.blank?  %>
<% end %>

<% if Redmine::VERSION.to_s >= '3.4' || RedmineContacts.unstable_branch? %>
  <%= context_menu %>
<% else %>
  <%= context_menu url_for( {:controller => "orders", :action => "context_menu"} )%>
<% end %>


<% content_for :header_tags do %>
  <%= select2_assets %>
  <%= javascript_include_tag('select_list_move') if Redmine::VERSION.to_s < '3.0' %>
  <%= javascript_include_tag :contacts, :plugin => 'redmine_contacts'  %>
	<%= stylesheet_link_tag :products, :plugin => 'redmine_products' %>
	<meta name = "format-detection" content = "telephone=no">
<% end %>

